<% if flash[:oauth_error_data].present? %>
  <% error_data = JSON.parse(flash[:oauth_error_data]) rescue {} %>
  <div data-controller="oauth-error" 
       data-oauth-error-title-value="<%= error_data['title'] || 'Authentication Issue' %>"
       data-oauth-error-message-value="<%= error_data['message'] || 'An error occurred during authentication.' %>"
       data-oauth-error-type-value="<%= error_data['error_type'] || 'general' %>"
       data-oauth-error-can-retry-value="<%= error_data['can_retry'] != false %>">
  </div>
<% end %>